/* ------------------------------------------------------------ Imports */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------------------------------------------------------ Variables */
:root {
    --grey: hsl(0 0% 47%);
    --nav-underline: 1px solid var(--grey);
    --lightest: #FFF;
    --light: #DDE6ED;
    --mid: #9DB2BF;
    --dark: #526D82;
    --darker: #27374D;
}

/* ------------------------------------------------------------ Universal reset */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    color-scheme: light dark;
}

/* ------------------------------------------------------------ Main body */
body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--grey);
}

/* ------------------------------------------------------------ Hero */
.hero {
    background-color: var(--mid);
    background-image: url("/assets/images/pexels-oleksandr-pidvalnyi-319930-1280-852.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center 33%;
    width: 100%;
    max-width: 100%;
    padding-top: 30vh;
    padding-bottom: 30vh;
}

.hero h2 {
    color: var(--light);
    margin-left: 1rem;
}

/* ------------------------------------------------------------ xxx */